@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@100;300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Inter!important;
    background-color: #FBFCFF;
}

.header{
    width: 100%;
    height: auto;
    min-height: 50px;
}

.container{
    width: 100%;
    max-width: 1250px;
    height: auto;
    margin: 0 auto;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav li{
    list-style: none;
}

.nav li a{
    text-decoration: none;
    color: #3C3C3E;
    font-size: 18px;
}

.nav_left{
    display: flex;
    gap: 36px;
    align-items: center;
}

.nav_left .logo{
    height: 50px;
    margin-top: 10px;
}

.nav_right{
    display: flex;
    gap: 36px;
}

.nav_right li:nth-child(3) a{
    color: #ffffff;
    background-color: #112CCC;
    border-radius: 12px;
    padding: 8px 20px;
}


/* Content Section */

.content{
    display: flex;
    padding-top: 150px;
}

.content .application{
    width: 100%;
}

.content__image{
    flex-basis: 35%;
}

.content__text{
    flex-basis: 65%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding-top: 95px;
}

.content__text .heading{
    font-size: 80px;
    line-height: 80px;
    font-family: Andika!important;
    font-weight: 700;
}

.content__text .subtitle{
    font-size: 18px;
    margin-top: 25px;
    color: #777777;
}

.subscribe_form{
    display:  flex;
    gap: 2rem;
    margin-top:30px;
}

.subscribe_form input{
    width: 100%;
    max-width: 350px;
    padding: 15px 20px;
    background: #ffffff;
    border:  1px solid #efefef;
    border-radius: 6px;
    font-size: 16px;
    color: #777777;
}

.subscribe_form input:focus{
    border: 1px solid #112CCC;
    outline: none;
}

.sendlink{
    background-color: #112CCC;
    padding: 15px 20px;
    color: #ffffff;
    border-radius: 12px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.sendlink:hover{
    background-color: midnightblue;
    padding: 15px 30px;
}


.terms{
    font-size: 14px;
    color: #999999;
    margin-top: 20px;
    margin-bottom: 50px;
}


.downloadbox{
    display: flex;
    gap: 2rem;
}







.footer{
    background-color: #112CCC;
    height: 300px;
    padding: 70px 0 0 0;
    color: #ffffff;
}

.footercon{
    display: flex;
}

.footerbox{
    flex-basis: 25%;
}

.footerbox:first-child{
    flex-basis: 70%;
}

.footerbox .heading{
    margin-bottom: 30px;

}

.footerbox .image{
    height: 50px;
    display: flex;
}

.footerbox .about{
    margin-top: 25px;
    max-width: 50%;
    
}

.footerbox li{
    list-style: none;
    margin: 15px 0;
}

.footerbox li a{
    color: #ffffff;
    text-decoration: none;
}